html,body {
  margin:0;
  padding:0;
  background: #f3f3f3;
}

.header{
  width:100%;
  background-color: white;
  overflow: hidden;
  padding: 5px;
}

.main{
  padding-top: 20px;
  overflow:auto;
}

.right_frame{ float:right; }

.left_frame{ float: left; }

p{
  float:right;
  color:#67696a;
  font-family: sans-serif;
  font-size: 15pt;
  padding-right: 10px;
}

iframe {
	display: block;
	/*border:none; */
	overflow:hidden;
	height: calc(100vh - 110px);
	width:49.5%;
}
